
/* font variables */

@media (width: 768px) {
    
    body {
        --font_size_01: 44px;
        --font_size_02: 24px;

    }
    h1 {
        line-height: 100%;
    }

    h1 span {
        line-height: 100%;
    }

    header {
        justify-content: space-between;
    }

    .showcase {
        height: 368px;
    }

    .offers {
        height: 303px;
        width: 735px;
    }

    .products_list {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 20px;
    }

    .title {
        gap: 16px;
    }

}

