/* basics */

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Lato';
    font-style: normal;
}

h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    color: #222222;
    margin: 0px;
}

h1 span {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #222222;
}

h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

h3 span {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

header {
    height: 75px;
    width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
}

main {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu { 
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 33px; 

}

/* common */

.accent {
    color: #F16D7F;
}

.button {
    box-sizing: border-box;
    border: 2px solid #F26376;
    height: 48px;
    width: 212px;
    
    color: #F26376;
}

.rectangle {
    height: 92px;
    width: 12px;
    background-color: #F16D7F;
}

/* header */

.logo {
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: baseline;
}

.menu_button {
    height: 32px; 
    width: 32px; 
    background: none;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}

.search {
    background-image: url(res/search.svg);
}
.settings {
    background-image: url(res/settings.svg);
}
.profile  {
    background-image: url(res/profile.svg);
}
.payment  {
    background-image: url(res/payment.svg);
}

/* showcase */

.showcase {
    width: 100%;
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 69px;
}

/*  offers */

.offers {
    padding: 65px 0px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 260px; 
    gap: 30px;
}

.offer_sample {
    display: flex;
    align-items:center;
    justify-content: center;
}

.offer_for_woman {
    background-image: url(res/offer_for_woman.png);
}

.offer_for_man {
    background-image: url(res/offer_for_men.jpg);
}

.offer_for_kids {
    background-image: url(res/offer_for_kids.jpg);
}

.offer_accesories {
    background-image: url(res/offer_accessories.jpg);
    grid-column: 1 / 4;
}

/* products */

.products {
}

.header {
    margin-bottom: 60px;
}

.header > p {
    color: #9F9F9F;
    font-size: 14px;

    display: flex;
    justify-content: center;
}

.products_list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 587px);
    gap: 30px;
}

.product_sample {
    background-color: #F8F8F8;
}

.info {
    padding: 0px 23px;
}

.product_name {
    font-size: 13px;
}

.product_description {
    font-size: 14px;
    color: #5d5d5d;
}

.product_price {
    font-size: 16px;
    color: #F16D7F;
}

.product_menu {
    margin: 0px 0px 60px;
    display: flex;
    justify-content: center;
}