/* variables */

body {

    /* element-color */

    /* font-color */

    --color_01: #222222;
    --color_02: #FFFFFF;
    --color_03: #F26376;
    --color_04: #F16D7F;
    --color_05: #5d5d5d;
    --color_06: #F8F8F8;

    /* font-size */

    --font_size_01: 48px;
    --font_size_02: 32px;
    --font_size_03: 24px;
    --font_size_04: 16px;
    --font_size_05: 14px;
    --font_size_06: 13px;

}

/* basics */

body {
    margin: 0px auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; 

    font-family: 'Lato';
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p { margin: 0px;}

h1 {
    color:          var(--color_01);
    font-weight:    900;
    font-size:      var(--font_size_01);
    line-height:    58px;
}

h1 span {
    color:          var(--color_01);
    font-weight:    700;
    font-size:      var(--font_size_02);
    line-height:    38px;
}

h2 {
    font-weight: 400;
    font-size: var(--font_size_02);
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: var(--font_size_04);
    line-height: 20px;
    text-align: center;
    color: var(--color_02);
}

h3 span {
    font-weight: 700;
    font-size: var(--font_size_03);
    line-height: 30px;
    text-align: center;
}

header {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    background-color: var(--color_01);
}

main {
    width: 100%;
}

menu { 
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 33px; 
}

section {
    display: grid;
    width: 100%;
}

/* common */

.accent {
    color: var(--color_04);
}

/* header */

.menu_top {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    padding: 0px 32px;
    height: 75px;
    width: 100%;
}

.menu_top_logo {
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: baseline;
}

.menu_top_button {
    height: 32px; 
    width: 32px; 

    background: none;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.search {
    background-image: url(../res/search.svg);
}

.payment  {
    background-image: url(../res/payment.svg);
}

.profile  {
    background-image: url(../res/profile.svg);
}

.settings {
    background-image: url(../res/settings.svg);
}

/* showcase */

.showcase {
    background-color: #F1E4E6;
}

.showcase .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.showcase img {
    height: 100%;
}

.showcase_title {
    display: flex;
    flex-direction: row;
    gap: 69px;
}

.showcase_title_markdown {
    height: 92px;
    width: 12px;
    background-color: var(--color_04);
}

/*  offers */

.offers .content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: 260px 180px; 
    justify-content: center;

    padding: 65px 0px 100px;
}

.offer_sample {
    display: flex;
    align-items:center;
    justify-content: center;
}

.offer_for_woman {
    background-image: url(../res/offer_for_woman.png);
}

.offer_for_man {
    background-image: url(../res/offer_for_men.jpg);
}

.offer_for_kids {
    background-image: url(../res/offer_for_kids.jpg);
}

.offer_accesories {
    background-image: url(../res/offer_accessories.jpg);
    grid-column: 1 / 4;
}

/* products */

.products {
    margin: 0px 0px 50px;
}

.products_title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 54px;
}

.products_title > p {
    display: flex;
    justify-content: center;

    color: #9F9F9F;
    font-size: var(--font_size_05);
}

.products_list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    justify-content: center;
}

.product_sample {
    background-color: var(--color_06);
}

.product_picture {
    position: relative;
    display: flow-root;
}

.product_picture:hover::after {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    content: "Add to cart";
    background-color: red;
}

.product_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 23px;
}

.product_name {
    font-size: var(--font_size_06);
}

.product_description {
    font-size: var(--font_size_05);
    color: var(--color_05);
}

.product_price {
    font-size: var(--font_size_04);
    color: var(--color_04);
}

.product_menu {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.product_menu_button {
    box-sizing: border-box;
    border: 2px solid var(--color_03);
    height: 48px;
    width: 212px;
    
    background-color: transparent;
    color: var(--color_03);
}

.product_menu_button:hover {
    background-color: #F16D7F;
    color: var(--color_02);
}

/* footer */

footer {
    width: 100%;
}

/* features */

.features {
    display: grid;
    gap: 30px;
    justify-content: center;

    background-color: #222224;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
}

.feature_icon {
    height: 40px;
    width: 40px;
}

/* subscribe */

.subscribe {
    height: 448px;
    background-image: url(../res/subscribe_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe .content {
    display: flex;
    align-items: center;
}

.subscribe_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
    width: 360px;
    height: 224px;
}

.subscribe_info_icon {
    height: 96px;
    width: 96px;
}

.subscribe_info_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222224;
}

.subscribe_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: 560px;
}

.subscribe_form h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    text-align: center;
    color: #222224;
}

.subscribe_form h3 span {
    display: block;
    font-weight: 400;
    font-size: 18px;
}

.subscribe_form div {
    display: flex;
}

.subscribe_form_email {
    box-sizing: border-box;
    padding-left: 20px;
    height: 50px;
    width: 250px;

    border: none;
    border-color: var(--color_04);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 0.67;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #222224;
}

.subscribe_form_button {
    height: 50px;
    width: 100px;

    background-color: var(--color_04);
    border: none;
    border-color: var(--color_04);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.subscribe_form_button:hover {
    background-color: #E05C6E;
}

.copyright {
    background-color: #222224;
}

.copyright .content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    height: 80px;
}

.copyright .contacts {
    gap: 8px;
    height: min-content;
}

.contact {

    padding: 0px;
    min-height: 16px;
	min-width: 16px;
    height: 30px;
	width: 30px;

    background-color: #FFFFFF;
	background-repeat: no-repeat;
    background-position: center;
    border: none;

}

.contact:hover {
    background-color: #0e9280;
    filter: invert(1);
}

.contact_facebook {
	background-image: url(../res/contact_facebook.svg);
}

.contact_inst {
	background-image: url(../res/contact_inst.svg);
}

.contact_pin {
	background-image: url(../res/contact_pin.svg);
}

.contact_twitter {
	background-image: url(../res/contact_twitter.svg);
}

.copyright p {
    color: #fbfbfb;
}