
/* font variables */

@media only screen and (width: 768px) {
    
    body {
        width: 100%;
        --font_size_01: 44px;
        --font_size_02: 22px;
    }
    
    h1 {
        line-height: 40px;
    }

    h1 span {
        line-height: 24px;
    }

   

    .content {
        justify-self: center;
        max-width: 1600px;
        width: 768px;
    }

    .menu_top {
        justify-content: space-between;
    }

    .showcase .content{
        height: 368px;
        gap: 40px;
    }

    .showcase_title {
        gap: 18px;
    }

    .offers .content {
        height: 303px;
        width: 735px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.6fr 0.4fr; 
    }

    .products_list {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 20px;
    }

    .features {
        box-sizing: border-box;
        grid-template-rows: 133px 133px 133px;
        align-items: center;
        gap: 55px;
        justify-content: space-around;

        padding: 48px 0px;
        height: 610px;
    }

    .subscribe {

        height: 693px;
    }
    
    .subscribe .content {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .copyright .content {
        box-sizing: border-box;
        padding: 0px 33px;
    }
}